.header {
  background-color: $color-blue-dark-1;
  width: 100vw;
  height: 66px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
  }

  &__title {
    font-size: 1.2em;
    color: white;

    @media screen and (min-width: $tablet) {
      font-size: 1.7em;
    }
  }
}

.search {
  margin-left: 1.2rem;
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: $tablet) {
    margin-left: 3rem;
    flex: 0 0 40%;
  }

  &__input {
    font-size: 1.2rem;
    color: black;
    background-color: $color-grey-light-2;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.25rem;

    @media screen and (min-width: $tablet) {
      font-size: 1.7rem;
    }

    &:focus {
      outline: none;
      width: 100%;
      background-color: $color-grey-light-3;
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: $color-grey-light-4;
    }
  }

  &__input:focus + &__button {
    background-color: $color-grey-light-3;
  }

  &__button {
    border: none;
    background-color: $color-grey-light-2;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }
  &__icon {
    height: 2rem;
    width: 2rem;
    fill: $color-grey-dark-3;
  }
}
